<footer>
    <div class="container">
        <ul class="footer-menu">
            {% for link in linklists['footer'].links -%}
                <li>{{ link.title | link_to: link.url }}</li>
            {%- endfor %}
        </ul>
    </div>
</footer>
